# ignore object files
*.[oa]

# ignore temperary backup files
*~
.#*
.DS_Store

# ignore temperary latex file
*.aux
*.log
*.dvi
*.toc
*.blg

# ignore java class files
*.class

# ignore ev3 source
lego/*

# ignore .autosave files
*.autosave
